<?xml version="1.0" encoding="UTF-8"?>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head-declaration">
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <meta charset="UTF-8">

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"/>

        <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    </head>

    <div th:fragment="title">
        <div style="font-size: 20pt; padding: 30px 10px">FO Document Manager<div style="color: aqua; margin-left:20px; font-size: 12pt">Replace XML documents for TM, DS applicatons</div></div>
    </div>
</html>