.idea/
.settings/
.classpath
.project
*.iml
.metadata
.gradle/
*.log
*.lnk
bin/
dist/
out/
target/
common-utils/ConfigurationXSD/src/main/java
tm-efiling/tm-efiling-ui/src/main/webapp/resources/css/fsp.css
tm-efiling/tm-efiling-ui/src/main/webapp/resources/css/gs.css
ds-efiling/ds-efiling-ui/src/main/webapp/resources/css/fsp.css
ds-efiling/ds-efiling-ui/src/main/webapp/resources/css/locarno.css
eservices/eservices-ui/src/main/webapp/resources/css/sp.css
eservices/eservices-ui/src/main/webapp/resources/css/carousel.css
pt-efiling/pt-efiling-ui/src/main/webapp/resources/css/sp.css
conf/sp-fo/installation/scripts/gradle.properties
