<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>
		<profile>
			<id>init</id>
			<properties>
				<bpo.online.persistence.jpa.database-platform>org.hibernate.dialect.PostgreSQLDialect</bpo.online.persistence.jpa.database-platform>
			</properties>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
		</profile>
		<profile>
			<id>local</id>
			<properties>
				<bpo.online.persistence.datasource.url>jdbc:postgresql://duosoft2.abbaty.int:5432/tmdn</bpo.online.persistence.datasource.url>
				<bpo.online.persistence.datasource.username>postgres</bpo.online.persistence.datasource.username>
				<bpo.online.persistence.datasource.password>p0stGr#s</bpo.online.persistence.datasource.password>
				<bpo.online.persistence.datasource.driver-class-name>org.postgresql.Driver</bpo.online.persistence.datasource.driver-class-name>
				<bpo.online.persistence.hibernate.show_sql>true</bpo.online.persistence.hibernate.show_sql>
				<trademarks.url>https://testportal.bpo.bg/app-management/trademarks</trademarks.url>
				<designs.url>https://testportal.bpo.bg/app-management/designs</designs.url>
				<eservices.url>https://testportal.bpo.bg/app-management/e-services</eservices.url>
				<patents.url>https://testportal.bpo.bg/app-management/patents</patents.url>
				<utility.models.url>https://testportal.bpo.bg/app-management/utility-models</utility.models.url>
				<eu.patents.url>https://testportal.bpo.bg/app-management/epo-patents</eu.patents.url>
				<recently.signed.url>https://testportal.bpo.bg/app-management/recently-signed</recently.signed.url>
				<spc.url>https://testportal.bpo.bg/app-management/spc</spc.url>
				<sort.breeds.url>https://testportal.bpo.bg/app-management/sv</sort.breeds.url>
				<geo.indications.url>https://testportal.bpo.bg/app-management/geoindications</geo.indications.url>
				<integral.schemas.url>https://testportal.bpo.bg/app-management/integral-schemas</integral.schemas.url>
			</properties>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
		</profile>

		<profile>
			<id>bpo-test</id>
			<properties>
				<bpo.online.persistence.datasource.url>jdbc:postgresql://172.16.1.49:5432/bpo_online</bpo.online.persistence.datasource.url>
				<bpo.online.persistence.datasource.username>postgres</bpo.online.persistence.datasource.username>
				<bpo.online.persistence.datasource.password>postgres</bpo.online.persistence.datasource.password>
				<bpo.online.persistence.datasource.driver-class-name>org.postgresql.Driver</bpo.online.persistence.datasource.driver-class-name>
				<bpo.online.persistence.hibernate.show_sql>false</bpo.online.persistence.hibernate.show_sql>

				<trademarks.url>https://testportal.bpo.bg/app-management/trademarks</trademarks.url>
				<designs.url>https://testportal.bpo.bg/app-management/designs</designs.url>
				<eservices.url>https://testportal.bpo.bg/app-management/e-services</eservices.url>
				<patents.url>https://testportal.bpo.bg/app-management/patents</patents.url>
				<utility.models.url>https://testportal.bpo.bg/app-management/utility-models</utility.models.url>
				<eu.patents.url>https://testportal.bpo.bg/app-management/epo-patents</eu.patents.url>
				<recently.signed.url>https://testportal.bpo.bg/app-management/recently-signed</recently.signed.url>
				<spc.url>https://testportal.bpo.bg/app-management/spc</spc.url>
				<sort.breeds.url>https://testportal.bpo.bg/app-management/sv</sort.breeds.url>
				<geo.indications.url>https://testportal.bpo.bg/app-management/geoindications</geo.indications.url>
				<integral.schemas.url>https://testportal.bpo.bg/app-management/integral-schemas</integral.schemas.url>
			</properties>
		</profile>

		<profile>
			<id>production</id>
			<properties>
				<bpo.online.persistence.datasource.url>jdbc:postgresql://172.18.1.12:5432/bpo_online</bpo.online.persistence.datasource.url>
				<bpo.online.persistence.datasource.username>postgres</bpo.online.persistence.datasource.username>
				<bpo.online.persistence.datasource.password>postgres</bpo.online.persistence.datasource.password>
				<bpo.online.persistence.datasource.driver-class-name>org.postgresql.Driver</bpo.online.persistence.datasource.driver-class-name>
				<bpo.online.persistence.hibernate.show_sql>false</bpo.online.persistence.hibernate.show_sql>

				<trademarks.url>https://portal.bpo.bg/app-management/trademarks</trademarks.url>
				<designs.url>https://portal.bpo.bg/app-management/designs</designs.url>
				<eservices.url>https://portal.bpo.bg/app-management/e-services</eservices.url>
				<patents.url>https://portal.bpo.bg/app-management/patents</patents.url>
				<utility.models.url>https://portal.bpo.bg/app-management/utility-models</utility.models.url>
				<eu.patents.url>https://portal.bpo.bg/app-management/epo-patents</eu.patents.url>
				<recently.signed.url>https://portal.bpo.bg/app-management/recently-signed</recently.signed.url>
				<spc.url>https://portal.bpo.bg/app-management/spc</spc.url>
				<sort.breeds.url>https://portal.bpo.bg/app-management/sv</sort.breeds.url>
				<geo.indications.url>https://portal.bpo.bg/app-management/geoindications</geo.indications.url>
				<integral.schemas.url>https://portal.bpo.bg/app-management/integral-schemas</integral.schemas.url>
			</properties>
		</profile>
	</profiles>

</settings>