<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="dsChangeType-fragment" class="inlBlW100">

    <div th:text="#{tm.changeTypeTitle}"></div>
    <div class="mT10 rb-grid">
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="standpointReply" th:attr="data-rel-field='changeType-field'" checked>
            <div th:text="#{standpointReply}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="invalidityTimeLimitExtension" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{invalidityTimeLimitExtension}" class="rb-text"></div>
        </div>
<!--        <div>-->
<!--            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="applicationErrorRepairRequest" th:attr="data-rel-field='changeType-field'">-->
<!--            <div th:text="#{dsapplerr}" class="rb-text"></div>-->
<!--        </div>-->
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="applicationTechErrorRepairRequest" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{applicationTechErrorRepairRequest}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="registerTechErrorRepairRequest" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{registerTechErrorRepairRequest}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="bpoErrorRepairRequest" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{bpoErrorRepairRequest}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="dossierAccess" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{dossierAccess}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="refundRequest" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{refundRequest}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="licenceTermination" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{licenceTermination}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="remRenewal" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{remRenewal}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="remChange" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{remChange}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="remTermination" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{remTermination}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="enforcement" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{enforcement}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="bankruptcyTermination" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{bankruptcyTermination}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="securityTermination" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{securityTermination}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="renewalTimeLimitRenew" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{renewalTimeLimitRenew}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="priorityDeclaration" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{priorityDeclaration}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="priorityCertificatePresentation" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{priorityCertificatePresentation}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="exhibitionEvidence" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{exhibitionEvidence}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="termRecovery" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{termRecovery}" class="rb-text"></div>
        </div>
        <div>
            <input name="changeType" class="radio-btn vertical-rb" type="radio" value="submitAdditionalDocuments" th:attr="data-rel-field='changeType-field'">
            <div th:text="#{submitAdditionalDocuments}" class="rb-text"></div>
        </div>
    </div>

    <input type="hidden" class="input-param" id="changeType-field" value="standpointReply" th:attr="data-name='changeType'">

</div>
</html>