<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="tmefilingfee-fragment">

    <div id="number-classes-frag" class="mb20px">
        <div th:replace="fragments/classesCount :: classesCount-fragment"></div>
    </div>
    <div id="mark-kind-frag" style="width: 100%" class="mb20px">
        <div th:replace="fragments/markKind :: markKind-fragment"></div>
    </div>
    <div id="number-priorities-frag" class="mb20px">
        <div th:replace="fragments/prioritiesCount :: prioritiesCount-fragment"></div>
    </div>
    <div id="registration-certificate-frag" style="width: 100%" class="mb20px">
        <div th:replace="fragments/registrationCertificate :: registrationCertificate-fragment"></div>
    </div>

</div>
</html>