<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="umefiling-fragment">

    <div id="small-company-frag" class="mb20px">
        <div th:replace="fragments/smallCompany :: smallCompany-fragment"></div>
    </div>
    <div id="feesArePayedInPCT-frag" class="mb20px">
        <div th:replace="fragments/feesArePayedInPCT :: feesArePayedInPCT-fragment"></div>
    </div>
    <div id="feesArePayedInTransformation-frag" class="mb20px">
        <div th:replace="fragments/feesArePayedInTransformation :: feesArePayedInTransformation-fragment"></div>
    </div>
    <div id="number-priorities-frag" class="mb20px">
        <div th:replace="fragments/prioritiesCount :: prioritiesCount-fragment"></div>
    </div>

</div>
</html>