<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>SP e-Services</display-name>

	<welcome-file-list>
    	<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<env-entry>
		<env-entry-name>esapiPath</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>eservices/eservices-esapi.properties</env-entry-value>
	</env-entry>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/e-services-service.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.jboss.ejb.client.remoting.CheckServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>eu.ohim.sp.common.ui.listener.SessionListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>e-services</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/e-services-servlet.xml
				/WEB-INF/wizard-webflow-config.xml
			</param-value>
		</init-param>
	</servlet>
	
	

	<error-page>
		<exception-type>org.springframework.webflow.execution.repository.NoSuchFlowExecutionException</exception-type>
		<location>/errorFlowSession.jsp</location>
	</error-page>
	<error-page>
		<exception-type>org.springframework.webflow.execution.repository.FlowExecutionRestorationFailureException</exception-type>
		<location>/errorFlowSession.jsp</location>
	</error-page>
	<error-page>
		<exception-type>org.springframework.webflow.execution.repository.BadlyFormattedFlowExecutionKeyException</exception-type>
		<location>/errorFlowSession.jsp</location>
	</error-page>
	<error-page>
	    <error-code>404</error-code>
	    <location>/error404.jsp</location>
	</error-page>
	<error-page>
		<location>/error.jsp</location>
	</error-page>
	
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<servlet-mapping>
		<servlet-name>e-services</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>e-services</servlet-name>
		<url-pattern>*.properties</url-pattern>
	</servlet-mapping>

	<filter>
		<description>Set the correct Character encoding</description>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description>The encoding to use.</description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
		
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<servlet-name>e-services</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>	
		
	<filter-mapping>
   		<filter-name>springSecurityFilterChain</filter-name>
   		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<distributable />
</web-app>